@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar
{
    background-color: whitesmoke;
    width: 15vw;
    font-family: 'Pacifico', cursive;
    height: 100vh;
    
}

.sidebar nav
{
    padding: 30px;
   
}

.sidebar nav li
{
    list-style: none;
    font-size: 23px;
    padding: 33px;
}
.main
{
    background-color: yellow;
    width: 85vw;
    font-family: 'Rampart One', cursive;

}

.container
{
    display: flex;
}

.infocontainer
{
    background-color: red;
    height: 78vh;
    width: 80vw;
    margin: 144px auto;
}