@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar
{
    background-color: rgb(175, 173, 173);
    width: 15vw;
    font-family: 'Pacifico', cursive;
    height: 100vh;
    
}

.sidebar nav
{
    padding: 30px;
   
}

.sidebar nav li
{
    list-style: none;
    font-size: 23px;
    padding: 33px;
}
.main
{
  /*  background-color: yellow; */
    width: 100vw;
    font-family: 'Rampart One', cursive;

}

.container
{
    display: flex;
}

.infocontainer
{
  /*  background-color: red;*/
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello
{
    font-size: 65px;
}

.name
{
    font-size: 50px;
    font-weight: bold;
}

.about
{
    font-size: 45px;

}

.button
{
    margin-top: 34px;
}

.button button
{
    padding: 10px;
    border-radius: 22px;
    color: antiquewhite;
    background-color: dodgerblue;

    font-weight: bold;
    font-size: 21px;
    margin: 3 px;
    cursor: pointer;
}

.button button:hover{
    background-color: antiquewhite;
    color: dodgerblue;
}

.devpic img
{
    height: 58vh;
}

/* My Intro */

.aboutme
{
    background-image: url("about me.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.summary
{
    background-color: royalblue;
}

.cool
{
    background-color: burlywood;
}

.education
{
    background-color: beige;
}
/* Contat me page  */

.contactform
{
    height: 100vh;
    width: 100vw;
    background-image: url("contact-banner-1568x431.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.contacting
{
    
    font-size: 24px;
    margin: 25px;
    width: 600px;
    height: 250px;
    position: relative;
    top: 20%;
    left: 35%;
    font-family: 'Mochiy Pop One', sans-serif;
    
}

.contacting form div{
    padding: auto;
    display: flex;
    flex-direction: column;
}

.contacting form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 6px;
    padding: 3px;
}

.btn{
    padding: 10px;
    border-radius: 22px;
    color: antiquewhite;
    background-color: black;

    font-weight: bold;
    font-size: 21px;
    margin: 3 px;
    cursor: pointer;
}
